<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="/img/logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/limontesweetalert2/7.2.0/sweetalert2.min.css/>" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <title>Register Page</title>
</head>

<body>
    <div class="container">
        <div style="color:red; font-size: 16px;">{{errorMsg}}</div>
        <div class="header">
            <div class="header__icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="header__title">
                <h2>Register</h2>
            </div>
        </div>
        <form action="/register" method="post" class="form" onsubmit="onSubmitForm(this);
                return false;">
            <div class="form__username">
                <div class="form__username--icon form__icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form__username--input form__input">
                    <input type="text" id="username" placeholder="Username" name="txtName" />
                </div>
            </div>
            <p id="errorUsername"></p>
            <div class="form__password">
                <div class="form__password--icon form__icon">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form__password--input form__input">
                    <input type="password" id="password" placeholder="Password" name="txtPassword" />
                    <span class="fas fa-eye" id="togglePassword"></span>
                </div>
            </div>
            <span class="form__select">
                <select name="role">
                    <option value="admin">Admin</option>
                    <option value="customer">Customer</option>
                </select>
            </span>
            <div class="form__submit">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>

    <script src="/js/index.js"></script>
    </div>
    </div>
</body>

</html>