.heading {
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.heading__logo {
    width: 80px;
    height: 50px;
    padding-left: 10px;
}

.heading__logo img {
    width: 100%;
    height: 100%;
}

.heading__title {
    color: #fff;
    padding-right: 10px;
    text-transform: uppercase;
}

.input-group {
    margin-bottom: 10px;
}