:root {
    --main-color: #443;
    --boder-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    --boder-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
    --boder: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

.btn-get {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 40px;
    position: absolute;
    top: 48%;
    left: 180px;
    cursor: pointer;
}

.btn-get a {
    font-weight: 700;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 9%;
    background-color: #fff;
    height: 60px;
}

.heading__logo {
    width: 80px;
    height: 50px;
    padding-left: 10px;
}

.heading__logo img {
    width: 100%;
    height: 100%;
}

.heading__title {
    color: #000;
    padding-right: 10px;
    text-transform: initial;
}

.heading__title:hover {
    color: #000;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(146, 146, 146);
}

 ::-webkit-scrollbar-thumb:hover {
    background: #777777;
}

.content {
    background-color: rgba(0, 0, 0, 0.1);
}

.content__header {
    background: url(/img/header.webp) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-bottom: 20px;
}

.content__header--logo img {
    width: 250px;
    height: 90px;
    position: absolute;
    top: 180px;
    left: 140px;
}

.footer__logo img {
    width: 60px;
    height: 40px;
    user-select: none;
}

.footer {
    margin-top: 40px;
    border-top: 1px solid #ccc;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 15px;
}

.footer .box-container .box h3 {
    font-size: 25px;
    padding: 10px 0;
    color: var(--main-color);
}

.footer .box-container .box a {
    display: block;
    font-size: 15px;
    padding: 10px 0;
    color: #443;
}

.footer .box-container .box a i {
    padding-right: 0.5px;
}

.footer .box-container .box a:hover i {
    padding-right: 20px;
}

.footer .credit {
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
    margin-top: 10px;
    color: var(--main-color);
}

.footer .credit span {
    border-bottom: var(--border-hover);
}

.max-width {
    max-width: 270px;
    max-height: 270px;
}